# List Comprehension

In [1]:
a=[x*x for x in range(1,11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
l=[12,-5,7,-13,6,-15]
l1=[x for x in l if x>=0]
l1

[12, 7, 6]

In [40]:
l2=[0 if x<0 else x for x in l ]

In [41]:
l2

[12, 0, 7, 0, 6, 0]

In [49]:
l3=[(i,j) for i in range(10) for j in range(10) ]

In [50]:
l3

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [53]:
l4=[(i,j) for i in range(10) for j in range(10) if(i==j)]

In [54]:
l4

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [2]:
from math import pi

In [3]:
pi

3.141592653589793

### print [3.1 , 3.14 , 3.141 , ........ , 3.141592653589793]

In [6]:
p1=[float(str(pi)[:x]) for x in range(3,len(str(pi))+1) ]

In [7]:
p1

[3.1,
 3.14,
 3.141,
 3.1415,
 3.14159,
 3.141592,
 3.1415926,
 3.14159265,
 3.141592653,
 3.1415926535,
 3.14159265358,
 3.141592653589,
 3.1415926535897,
 3.14159265358979,
 3.141592653589793]

#### d=[[12,5,7,13],[6,9,15,2],[1,2,3,4]]
## find transpose 
#### d1=[[12,6,1],[5,9,2],[7,15,3],[13,2,4]]

In [2]:
d=[[12,5,7,13],[6,9,15,2],[1,2,3,4]]

In [3]:
d1=[x for x in range(3)]
d1

[0, 1, 2]

In [4]:
d2=[y for y in range(4)]
d2

[0, 1, 2, 3]

In [5]:
d3=[[d[x][y] for x in range(len(d))] for y in range(len(d[0]))]
d3

[[12, 6, 1], [5, 9, 2], [7, 15, 3], [13, 2, 4]]

2nd way

In [8]:
d=[[12,5,7,13],[6,9,15,2],[1,2,3,4]]
d

[[12, 5, 7, 13], [6, 9, 15, 2], [1, 2, 3, 4]]

In [10]:
d1=[[d[i][j] for i in range(len(d))] for j in range(len(d[0])) ]
d1

[[12, 6, 1], [5, 9, 2], [7, 15, 3], [13, 2, 4]]

In [11]:
d2=[[x[i] for x in d] for i in range(len(d[0]))]
d2

[[12, 6, 1], [5, 9, 2], [7, 15, 3], [13, 2, 4]]